@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input, textarea, select, button {
    @apply outline-none focus:outline-none;
  }
}

html {
  scroll-behavior: smooth;
}

.w-auto{
  width: auto;
}

.h-auto{
  height: auto;
}